<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminService1" />
                <binding name="StudentServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="StudentServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54149/AdminService1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService1"
                contract="AdminServices.IAdminService1" name="BasicHttpBinding_IAdminService1" />
            <endpoint address="https://localhost:44357/StudentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap"
                contract="StudentServices.StudentServiceSoap" name="StudentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>